html, body{
    font-family: "Ubuntu", sans-serif;
}

html{
    font-size: 1.756vh;
}

body{
    overflow-x: hidden;
    -ms-overflow-style: none;
}

::-webkit-scrollbar{
    display: none;
}

:root{
    --color1-: #7dd5ff;
    --color2-: #14111d;
}

#wrap{
    width: 100%;
}

::selection{
    background: var(--color1-);
    color: #fff;
}

section{
    width: 100%;
    padding: 6.587vw 5.988vw;
}

.section_inner{
    width: 100%;
    height: 100%;
}
/* 
.container.type1{
    width: 
} */

/* header */

#header{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 100;
    padding: 0 6.587vw;
    height: 5.689vw;
    background: #fff;
    transform-origin: top;
    transition: height .4s ease, top 0.5s ease;
    will-change: height, top;
}

#header.active{
    height: 22.754vw;
    border-radius: 0 0 40px 40px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

#header.hide{
    top: -5.689vw;
}

.header_inner{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 5.689vw;
}

.logo{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

.logo a{
    display: block;
    width: max-content;
}

.logo a img{
    width: 2.395vw;
}

.nav_floor1{
    display: flex;
    flex-wrap: wrap;
}

.nav_floor1 > li{
    position: relative;
    padding: 0 1.497vw;
}

.nav_floor1 > li > a{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    line-height: 5.689vw;
    font-size: 1.138vw;
}

.nav_floor1 > li > a::after{
    display: block;
    content: "";
    position: absolute;
    left: 50%;
    bottom: 25%;
    transform: translateX(-50%) scaleX(0);
    -webkit-transform: translateX(-50%) scaleX(0);
    width: 100%;
    height: 1px;
    background: var(--color1-);
    transform-origin: center;
    transition: all 0.3s ease;
    opacity: 0;
}

.nav_floor1 > li:hover > a::after{
    transform: translateX(-50%) scaleX(1);
    -webkit-transform: translateX(-50%) scaleX(1);
    opacity: 1;
}

.nav_floor2{
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    height: 17.065vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    visibility: hidden;
    transition: all .4s ease;
}

#header.active .nav_floor2{
    visibility: visible;
}

.nav_floor2 > li{
    position: relative;
    text-align: center;
    opacity: 0;
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
    transition: transform .3s ease, opacity .3s ease;
}

#header.active .nav_floor2 > li{
    opacity: 1;
    transform: scale(1);
    -webkit-transform: scale(1);
}

.nav_floor2 > li > a{
    position: relative;
    display: inline-block;
    text-align: center;
    color: #222;
    font-size: 0.958vw;
    font-family: 'Pretendard', sans-serif;
    font-weight: 300;
    padding: 0.599vw 0;
}


.nav_floor2 > li:hover > a{
    font-weight: 500;
    color: #000;
}

.nav_floor2 > li > a::after{
    display: none;
    content: "";
    position: absolute;
    right: -0.4vw;
    top: 0.3vw;
    width: 0.25vw;
    height: 0.25vw;
    border-radius: 50%;
    background: var(--color1-);
}

.nav_floor2 > li:hover > a::after{
    display: block;
}

.header_util{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0 2.8vw;
}

.lang_select{
    position: relative;
}

.lang_select button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 0.6vw;
    font-family: 'Ubuntu', sans-serif;
    padding: 0 0 0 1.6vw;
    height: 1.317vw;
    background: url('../img/lang-icon.svg') no-repeat;
    background-size: auto 100%;
    background-position: left center;
    letter-spacing: -0.03vw;
}

.lang_select button span{
    font-size: 0.838vw;
    color: #000;
    font-weight: 500;
}

.lang_select button img{
    display: inline-block;
    width: 0.5vw;
}

.lang_link{
    display: none;
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    background: #fff;
    padding: 0.299vw 0.599vw;
    margin-top: 0.659vw;
    border-radius: 10px;
    box-shadow: 0px 5px 11px rgba(0, 0, 0, 0.11);
}

.lang_link ul{
    display: flex;
    flex-direction: column;
}

.lang_link ul li{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
}

.lang_link ul li:first-child::after{
    display: block;
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    width: 27%;
    height: 1px;
    background: rgba(0, 0, 0, 0.2);
}

.lang_link ul li a{
    display: block;
    padding: 0.599vw 1.317vw;
    font-size: 1.078vw;
    color: #000;
    font-family: 'Pretendard', sans-serif;
    font-weight: 500;
    line-height: 1.1;
}

.lang_link ul li.active a{
    color: rgba(0, 0, 0, 0.4);
}

.header_contact_btn a{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    line-height: 2.395vw;
    padding: 0 1.796vw;
    background-color: var(--color1-);
    font-size: 1.078vw;
    font-weight: 500;
    letter-spacing: -0.01vw;
    border-radius: 999px;
}

.contact_area{
    position: fixed;
    right: 0;
    top: 0;
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    opacity: 0;
    visibility: hidden;
    width: 43.114vw;
    height: 100%;
    background: #fff;
    z-index: 20;
    font-family: 'Pretendard', sans-serif;
    border-top-left-radius: 40px;
    padding: 5.689vw 6.287vw 6.287vw 6.287vw;
    transition: all .4s ease;
}

.contact_area.active{
    visibility: visible;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    opacity: 1;
}

.contact_box{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.contact_area *{
}

.contact_area_top{
    display: flex;
    flex-direction: column;
}

.main_cate{
    display: block;
    margin-bottom: 0.719vw;
    color: #1a1a1a;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.084vw;
}

.contact_area_top h2{
    font-size: 4.192vw;
    font-weight: 700;
    color: var(--color2-);
}

.contact_area_top p{
    font-size: 1.078vw;
    color: var(--color2-);
    line-height: 1.3;
    padding: 1.317vw 0 0 0;
}

#contact_form{
    width: 100%;
}

.contact_input_box{
    width: 100%;
}

.contact_input_box ul{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.contact_input_box ul li{
    width: 100%;
    padding-top: 2.994vw;
}

.contact_form_inner{
    position: relative;
}

.contact_form_inner legend{
    display: block;
    width: 100%;
    font-size: 1.257vw;
    font-weight: 500;
    margin-bottom: 0.898vw;
}

.contact_input_list label{
    position: absolute;
    right: 0;
    top: 0;
    width: 100%; 
    height: 1.257vw;
}

.contact_input_list{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.contact_input_list input{
    width: 48.5%;
    height: 2.515vw;
    box-sizing: border-box;
    padding: 0 0.898vw;
    border: none;
    background: #f4f4f4;
    font-family: 'Pretendard', sans-serif;
    font-size: 1.018vw;
    color: #14111d;
    border-radius: 3px;
    cursor: pointer;
    font-weight: 500;
}

.contact_input_list input::placeholder{
    color: #14111d;
}

.contact_input_list input:focus{
    outline: none;
}

.contact_confirm{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

.contact_confirm button{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4.491vw;
    background-color: #4cb7e9;
    padding: 0 6.287vw;
    font-size: 1.437vw;
    font-weight: 600;
    color: #fff;
    font-family: 'Pretendard', sans-serif;
}

.confirmed .contact_confirm button{
    background-color: #011033;
}

/* main */

#main{
    margin-top: 5.687vw;
    width: 100%;
}

.main_inner{
    width: 100%;
    padding: 0 2.096vw;
}

.main_swiper_box{
    position: relative;
    width: 100%;
    overflow: hidden;
}
/* 
.main_swiper{
    overflow: hidden;
} */

.main_swiper .swiper-slide{
    position: relative;
    width: 100%;
    height: 48.75rem;
    overflow: hidden;
    border-radius: 40px;
}

.main_slide_img{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.main_slide_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.main_pagi_area{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 2;
}

.main_page_box{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 1.796vw 0 1.796vw 3.293vw;
    height: 10.18vw;
    border-radius: 40px 0 0 0;
    background: #fff;
    gap: 0 1.198vw;
}

.main_page_box::before{
    display: block;
    content: "";
    position: absolute;
    right: 100%;
    bottom: 0;
    width: 85px;
    height: 70px;
    border-bottom-right-radius: 50%;
    box-shadow: 25px 30px #fff;
}

.main_page_box::after{
    display: block;
    content: "";
    position: absolute;
    right: 0;
    bottom: 100%;
    width: 85px;
    height: 70px;
    border-bottom-right-radius: 50%;
    box-shadow: 25px 30px #fff;
}

.main_pagi_area h3{
    font-size: 1.257vw;
    font-weight: 500;
}

.main-pagination{
    position: static;
    width: 14.97vw !important;
    height: max-content;
    right: 0;
    bottom: 0 !important;
    display: flex;
    flex-direction: column;
    gap: 0.719vw 0;
}

.main-pagination .swiper-pagination-bullet{
    width: 100%;
    box-sizing: border-box;
    height: max-content !important;
    background-color: transparent !important;
    padding: 0 0 0 4.192vw;
    font-size: 1.078vw;
    color: #3a3a3a;
    font-weight: 400;
    margin: 0 !important;
    opacity: 1;
    border-radius: 0;
    transition: all 0s;
}

.main-pagination .swiper-pagination-bullet-active{
    color: #000;
    font-weight: 500;
    background-image: url('../img/visual_pagi_icon.png');
    background-repeat: no-repeat;
    background-size: 3.293vw auto;
    background-position: left center;
}

.main_slide_content{
    position: absolute;
    left: 80px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    color: #fff;
    visibility: hidden;
}

.swiper-slide-active .main_slide_content{
    visibility: visible;
}

.main_slide_content h2{
    font-size: 110px;
    font-weight: 500;
    padding-bottom: 1.796vw;
}

.main_slide_content p{
    font-size: 1.078vw;
    padding-bottom: 2.695vw;
    font-family: 'Pretendard', sans-serif;
    line-height: 1.35;
    font-weight: 400;
}

.btn_type1{
    display: flex;
    gap: 0 0.599vw;
    width: max-content;
    padding: 0.659vw 3.114vw 0.659vw 1.078vw;
    border: 1px solid rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 8px;
    font-size: 1.078vw;
    color: #fff;
    background: rgba(0, 0, 0, 0.2) url('../img/icon_more_1.svg') no-repeat;
    background-position: right 1.078vw center; 
    transition: background-color .3s ease, color .3s ease, background-position 0.3s ease;
    background-size: 1.677vw auto;
}

.btn_type1:hover{
    background: #fff url('../img/icon_more_1_b.svg') no-repeat;
    border-color: #fff;
    color: #000;
    background-position: right 0.7vw center;
}

.btn_type1 span{
    display: flex;
    align-items: center;
}

/* partners */

#Partners{
    position: relative;
    background: url('../img/intro_bg.png');
    background-repeat: no-repeat;
    background-position: 93% 12%;
}

#Partners::before{
    display: block;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url('../img/intro_bg.png');
    background-repeat: no-repeat;
    background-position: 93% 12%;
    z-index: -1;
}

.partners_top{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 4.217vw;
}

.partners_list{
    width: 100%;
}

.partners_tit{
    width: 42.55%;
    display: flex;
    flex-direction: column;
}

.partners_tit h2{
    font-size: 3.494vw;
    font-weight: 500;
    margin-bottom: 1.807vw;
    letter-spacing: -0.01vw;
}

.partners_tit p{
    font-size: 1.024vw;
    font-family: 'Pretendard', sans-serif;
    line-height: 1.34;
    font-weight: 300;
    padding-right: 3vw;
}

.partners_tit span{
    position: absolute;
    display: inline-block;
    right: 0;
    bottom: 0;
    font-size: 3.855vw;
    line-height: 0.7;
    font-weight: 400;
    color: #fff;
    width: 52%;
    border-bottom: 1px solid #fff;
    text-align: right;
}

.partners_list{
    width: 100%;
    padding-left: 7.229vw;
}

.partners_list ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1.687vw 0;
}

.partners_list ul li{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12.651vw;
    height: 7.229vw;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(87, 172, 223, 0.3);
    overflow: hidden;
}

.partners_list ul li img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transform-origin: center;
    transition: all .4s ease;
}

.partners_list ul li:hover img{
    transform: scale(1.12);
    -webkit-transform: scale(1.12);
}

/* car software */

#carSoftware{
    height: 100vh;
    background: linear-gradient(to bottom, #0e0e0e 55%, #143278);
    overflow: hidden;
}

#carSoftware .section_inner{
    position: relative;
}

.carSoftware_tit{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    color: #fff;
    width: 32%;
}

.carSoftware_tit span{
    font-size: 1.084vw;
    opacity: 0.7;
    font-family: "Pretendard", sans-serif;
    font-weight: 300;
}

.carSoftware_tit h2{
    font-size: 2.108vw;
    font-family: "Pretendard", sans-serif;
    font-weight: 500;
    line-height: 1.22;
    margin: 0.602vw 0 1.325vw 0;
}

.car_area{
    position: absolute;
    left: 50%;
    top: -150%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}

.car_box{
    position: relative;
}

.car_img{
    width: 26vw;
}

.car_img img{
    width: 100%;
}

.car_headLight{
    position: absolute;
    left: 50%;
    top: 53%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    z-index: 2;
    width: 26vw;
}

.car_waveEffect{
    position: absolute;
    left: 50%;
    top: 76%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    width: 26vw;
}

.carSoftware_slideArea{
    position: absolute;
    right: 0;
    top: 40%;
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.car_pointer{
    position: relative;
    width: calc(100% - 20.136vw);
}

.pointerLine{
    position: relative;
    z-index: 2;
    width: 100%;
    height: 3px;
    background: linear-gradient(to right, #fff 10%, #4bb6e9);
    mask-image: repeating-linear-gradient(90deg, #ffffff, #ffffff 4px, transparent 4px, transparent 7px), repeating-linear-gradient(180deg, #ffffff, #ffffff 4px, transparent 4px, transparent 7px), repeating-linear-gradient(90deg, #ffffff, #ffffff 4px, transparent 4px, transparent 7px), repeating-linear-gradient(180deg, #ffffff, #ffffff 4px, transparent 4px, transparent 7px);
    mask-position: left top, right top, left bottom, left top;
    mask-repeat: repeat-x, repeat-y, repeat-x, repeat-y;
    mask-size: 100% 3px, 3px 100%, 100% 3px, 3px 100%;
}

.pointerTip{
    position: absolute;
    right: calc(100% - (2.13vw / 2));
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.13vw;
    height: 2.13vw;
    border: 3px solid #4bb6e9;
    border-radius: 0.482vw;
    box-sizing: border-box;
    background: rgba(75, 182, 233, 0.2);
}

.pointerCircle{
    width: 40%;
    height: 40%;
    border-radius: 50%;
    background: #fff;
}

.carSoftware_SlideBox{
    width: 20.136vw;
    position: relative;
    z-index: 5;
}

.csw_arrow{
    position: absolute;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 0.602vw 0.723vw 0.602vw;
    border-color: transparent transparent #4bb6e9 transparent;
    transform: rotate(0deg);
    pointer-events: none;
    user-select: none;
}

.csw_arrow.top{
    left: 50%;
    border-color: transparent transparent #fff transparent;
    top: 7px;
    transform: translateX(-50%) rotate(180deg);
    -webkit-transform: translateX(-50%) rotate(180deg);
    z-index: 10;
}

.csw_arrow.bot{
    left: 50%;
    bottom: 7px;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    z-index: 10;
}

.csw_arrow.left{
    top: 50%;
    left: 2px;
    transform: translateY(-50%) rotate(90deg);
    -webkit-transform: translateY(-50%) rotate(90deg);
}

.csw_arrow.right{
    top: 50%;
    right: 2px;
    transform: translateY(-50%) rotate(-90deg);
    -webkit-transform: translateY(-50%) rotate(-90deg);
}

.carSoftware_Slide{
    position: relative;
    width: 20.136vw;
    height: 20.136vw;
    overflow: hidden;
}

.carSoftware_Slide .swiper-slide{
    display: flex;
    justify-content: center;
    align-items: center;
}

.carSoftware_Slide .swiper-slide img{
    position: relative;
    z-index: 3;
    width: 45%;
}

.carSoftware_Slide::before,
.carSoftware_Slide::after{
    display: block;
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 2.092vw;
    height: 14.906vw;
    border-radius: 5px;
    border: 2px solid #fff;
    z-index: -1;
}

.carSoftware_Slide::before{
    left: 0;
    border-right: 0;
    background: linear-gradient(87deg, rgba(30, 55, 110, 0.6), transparent);
}

.carSoftware_Slide::after{
    right: 0;
    border-left: 0;
    background: linear-gradient(-87deg, rgba(30, 55, 110, 0.6), transparent);
}

.carSoftware_Deco{
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    width: 14.906vw;
    height: 20.136vw;
    border: 2px solid #fff;
    box-sizing: border-box;
    border-radius: 5px;
    overflow: hidden;
    background: linear-gradient(to top, #0e0e0e -6%, rgba(30, 55, 110, 1));
}

.carSoftware_Deco::before{
    display: block;
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 14.5vw;
    height: 14.5vw;
    background: rgba(30, 55, 110, 0.4);
    border-radius: 50%;
    filter: blur(15px);
    -webkit-filter: blur(15px);
}

.carSoftware_SlideControl{
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    padding: 1.308vw 0 1.52vw 0;
}

.carSoftware_SlideTit{
    position: relative;
    height: 1.617vw;
}

.carSoftware_SlideTit ul{
    width: 100%;
}

.carSoftware_SlideTit ul li{
    font-size: 1.617vw;
    font-weight: 600;
    color: var(--color1-);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
    opacity: 0;
    transition: all .3s ease;
}

.carSoftware_SlideTit ul li.active{
    visibility: visible;
    opacity: 1;
}

.carSoftware_pagination{
    position: absolute;
    left: 50% !important;
    top: 100% !important;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
}

.carSoftware_pagination .swiper-pagination-bullet{
    background: #fff !important;
}

/* promoteVid */

.promoteVid{
    padding: 6.587vw 5.988vw 4.819vw 5.988vw;
}

.section_divider.type1{
    display: flex;
    justify-content: space-between;
}

.promoteVid_youtubeBox{
    width: 61.446vw;
    aspect-ratio: 16 / 9;
    border-radius: 10px;
    overflow: hidden;
}

.promoteVid_youtubeBox iframe,
.promoteVid_youtubeBox object,
.promoteVid_youtubeBox embed{
    width: 100% !important;
    height: 100% !important;
}

.promoteVid_desc{
    width: 19.88vw;
    display: flex;
    flex-direction: column;
    padding-top: 3.614vw;
}

.sec_tit{
    font-size: 2.41vw;
    font-family: "Pretendard", sans-serif;
    font-weight: 600;
    word-break: keep-all;
    line-height: 1.2;
}

.sec_desc{
    font-size: 1.084vw;
    font-family: "Pretendard", sans-serif;
    font-weight: 300;
    color: #1a1a1a;
    line-height: 1.15;
    margin-top: 1.205vw;
}

/* challenges */

#challenges{
    padding: 4.819vw 5.988vw;
}

.sectionTit_area{
    text-align: center;
    margin-bottom: 2.53vw;
}

.challenges_list{
    width: 100%;
}

.challenges_list ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.challenges_list ul li{
    position: relative;
    width: 28.313vw;

}

.cList_bg{
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    user-select: none;
    pointer-events: none;
}

.cList_bg img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.cList_desc{
    position: absolute;
    left: 50%;
    bottom: 1.807vw;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    font-family: 'Pretendard', sans-serif;
    text-align: center;
    width: max-content;
}

.cList_desc h3{
    font-size: 1.566vw;
    color: #fff;
    margin-bottom: 0.663vw;
    font-weight: 500;
}

.cList_desc p{
    display: block;
    height: 0;
    font-size: 0.783vw;
    line-height: 1.3;
    color: rgba(255, 255, 255, 0.8);
    overflow: hidden;
    opacity: 0;
    transition: all .4s ease;
}

.challenges_list ul li:focus.cList_desc p,
.challenges_list ul li:hover .cList_desc p{
    height: 3.133vw;
    opacity: 1;
}

/* solutions */

#solutions{
    overflow: hidden;
    padding: 4.518vw 5.988vw;
}

#solutions .sectionTit_area{
    position: relative;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

#solutions .sectionTit_area .sec_tit{
    display: inline-block;
}

.solutions-pagination{
    width: max-content !important;
}

.solutions-pagination .swiper-pagination-bullet{
    background: #000 !important;
}

.solutions_slide{
    width: 100%;
}

.solutions_slide .swiper-slide{
    position: relative;
    display: flex;
    flex-direction: column;
    height: auto;
    align-self: stretch;
    justify-content: space-between;
    width: 39.759vw !important;
    padding: 2.41vw 1.506vw 1.506vw 1.506vw;
    margin-right: 1.807vw;
    box-shadow: 0 6px 11px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #fff;
    transition: border-color 0.4s;
}

.solutions_slide .swiper-slide::after{
    display: block;
    content: "";
    position: absolute;
    left: 50%;
    bottom: -24vw;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    width: 33.133vw;
    height: 33.133vw;
    background-color: #2ad4a1;
    opacity: 0.3;
    filter: blur(2.7vw);
    border-radius: 50%;
    z-index: -1;
    transition: all .4s ease;
}

.solutions_slide .swiper-slide:hover::after{
    background-color: var(--color1-);
}

.solutions_slide .swiper-slide:hover,
.solutions_slide .swiper-slide:focus{
    border-color: #000;
}

.solution_slideTop{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.solution_tit{
    position: relative;
    padding-right: 3.916vw;
}

.solution_tit .sec_tit{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    line-height: 1.35;
    letter-spacing: -0.05vw;
    font-size: 2.289vw;
}

.solution_tit .sec_desc{
    margin-top: 0;
    font-size: 1.145vw;
    font-weight: 400;
}

.solution_logo{
    position: absolute;
    right: 0;
    top: 0;
    width: 3.614vw;
    height: 100%;
}

.solution_logo img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.solution_img{
    width: 100%;
    margin-top: 2.108vw;
}

.solution_slideDesc{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 3.012vw;
}

.ssb_cate{
    display: block;
    width: 8.434vw;
    font-size: 18px;
}

.ssb_desc{
    flex: 1;
    font-size: 1.024vw;
    font-family: 'Pretendard', sans-serif;
    line-height: 1.3;
}

.ssb_link{
    width: 100%;
    margin-top: 1.506vw;
}

.ssb_link a{
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: #fff;
    font-family: 'Pretendard', sans-serif;
    background: #4bb6e9 url('../img/icon_more_1.svg') no-repeat;
    padding: 0 0.964vw;
    line-height: 2.41vw;
    font-size: 0.904vw;
    border-radius: 0.301vw;
    font-weight: 500;
    background-position: right 0.964vw center;
    transition: background-color .4s ease;
}

.solutions_slide .swiper-slide:focus .ssb_link a,
.solutions_slide .swiper-slide:hover .ssb_link a{
    background-color: var(--color2-);
}

/* history */

#history{
    background: url('../img/history_bg.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    overflow: hidden;
    border-radius: 2.41vw 2.41vw 0 0;
}

.card_tit{
    position: relative;
    padding-right: 10.241vw;
    display: flex;
    flex-direction: column;
}

.card_tit.wh .main_cate{
    color: #fff;
    opacity: 0.7;
}

.card_tit.wh .sec_tit{
    color: #fff;
}

#history .card_tit .btn_type1{
    position: absolute;
    right: 0;
    bottom: 0.602vw;
}

.history_slideBox{
    position: relative;
    width: 100%;
    margin-top: 3.012vw;
}

.history_slide{
    width: 100%;
    padding: 0 30.12vw;
}

.history_slide .swiper-slide{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: auto;
    width: max-content !important;
    font-family: 'Pretendard', sans-serif;
    padding-top: 2.108vw;
    user-select: none;
}

.hs_slideTop{
    padding: 0 0 0.904vw 0.723vw;
    margin-bottom: 0.904vw;
    border-bottom: 1px solid #8a8a8a;
}

.hs_slideTop span{
    position: relative;
    display: inline-block;
    font-size: 0.964vw;
    line-height: 1.386vw;
    padding: 0 0.843vw;
    border-radius: 999px;
    font-weight: 500;
    color: #fff;
    transition: all .4s ease;
}

.swiper-slide-active .hs_slideTop span{
    background-color: #000;
}

.hs_slideTop span::after{
    display: block;
    content: "";
    position: absolute;
    left: 50%;
    bottom: -1.18vw;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    width: 0.542vw;
    height: 0.542vw;
    border-radius: 50%;
    background: #8a8a8a;
    transition: all .4s ease;
}

.swiper-slide-active .hs_slideTop span::after{
    background: #fff;
}

.additional_notice{
    position: absolute;
    left: 0;
    top: 0;
    width: calc((16.265vw * 2) + 30px);
    text-align: center;
}

.an2 .additional_notice{
    display: none;
}

.additional_notice span{
    display: inline-block;
    font-size: 0.964vw;
    line-height: 1.5vw;
    letter-spacing: -0.01vw;
    padding: 0 0.843vw;
    background: var(--color1-);
    border-radius: 999px;
    font-weight: 500;
}

.hs_slideList{
    padding-right: 30px;
}

.history_slide .swiper-slide:last-child .hs_slideList{
    padding-right: 0;
}

.hs_slideList ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-height: 24.096vw;
    gap: 0 3.614vw;
}

.hs_slideList ul li{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 16.265vw;
    min-height: 9.639vw;
    border-radius: 0.602vw;
    padding: 1.506vw 1.205vw;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.3);
    transition: all .4s ease;
    margin-bottom: 0.602vw;
}

.hs_slideList ul li:last-child{
    margin-bottom: 0;
}

.swiper-slide-active .hs_slideList ul li{
    background: #fff;
}

.hs_slideList ul li strong{
    font-size: 1.446vw;
    color: #fff;
    transition: all .4s ease;
    letter-spacing: -0.05vw;
    font-weight: 500;
    line-height: 1.25;
}

.swiper-slide-active .hs_slideList ul li strong{
    color: #000;
}

.hs_slideList ul li p{
    margin-top: 0.361vw;
    font-size: 0.964vw;
    color: #aaaaaa;
    line-height: 1.3;
    transition: all .4s ease;
    font-weight: 300;
}

.swiper-slide-active .hs_slideList ul li p{
    color: #000;
}

.hs_slideControl{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 0 1.807vw;
    margin-top: 0.904vw;
}

.hs_slideBtn img{
    height: 0.542vw;
}

/* news */

#news{
    position: relative;
    overflow: hidden;
    border-radius: 2.41vw 2.41vw 0 0;
    padding: 6.587vw 13.554vw;
    background: #fff;
    z-index: 2;
}

.news_area{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.news_cont{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.news_cont.left{
    width: 28.313vw;
}

.news_cont_tit{
    width: 100%;
    display: flex;
    align-items: center;
    font-family: 'Pretendard', sans-serif;
    gap: 0 0.843vw;
    margin-bottom: 1.506vw;
}

.news_cont_cate{
    display: inline-block;
    font-size: 0.964vw;
    color: #fff;
    padding: 0 1.084vw;
    line-height: 1.687vw;
    background: #000;
    font-weight: 500;
    letter-spacing: -0.02vw;
    border-radius: 999px;
}

.news_cont_tit h3{
    font-size: 1.024vw;
    font-weight: 500;
    letter-spacing: -0.02vw;
}

.newsLetter_link{
    width: 100%;
}

.newsLetter_link a{
    display: block;
    overflow: hidden;
    border-radius: 0.602vw;
}

.newsLetter_link a img{
    display: block;
    width: 100%;
    transform-origin: center;
    transition: all .4s ease;
}

.newsLetter_link a:hover img,
.newsLetter_link a:focus img{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
}

.news_cont.right{
    width: 40.361vw;
}

.blog_list{
    width: 100%;
    cursor: none;
}

.blog_list ul{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.blog_list ul li{
    transition: border .4s ease;
}

.blog_list ul li:hover{
    border-color: #4bb6e9;
}

.blog_list ul li a{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1.506vw 0.542vw 0.843vw 0.542vw;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    font-family: 'Pretendard', sans-serif;
    cursor: none;
}

.blog_list ul li a p{
    font-size: 1.024vw;
    color: #000;
    width: calc(100% - 6.024vw);
    line-height: 1.2;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.blog_list ul li:hover a p,
.blog_list ul li:focus a p{
    font-weight: 600;
}

.blog_list ul li a span{
    font-size: 0.843vw;
    color: #3a3a3a;
    letter-spacing: -0.03vw;
}

#news_cursor{
    position: fixed;
    transform: translate(-50%, -50%) scale(0);
    -webkit-transform: translate(-50%, -50%) scale(0);
    width: 4.819vw;
    height: 4.819vw;
    background: url('../img/icon_more_1.svg') #4bb6e9 no-repeat;
    background-position: center;
    border-radius: 50%;
    pointer-events: none;
    z-index: 10;
    visibility: hidden;
    opacity: 0;
}

#news_cursor.active{
    animation: newsCursorView 1s ease forwards;
}

#news_cursor.leave{
    animation: newsCursorHide 0.7s ease forwards;
}

@keyframes newsCursorView{
    70%{
        visibility: visible;
        opacity: 1;
        transform: translate(-50%, -50%) scale(1.15);
        -webkit-transform: translate(-50%, -50%) scale(1.15);
    }

    100%{
        visibility: visible;
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
        -webkit-transform: translate(-50%, -50%) scale(1);
    }
}

@keyframes newsCursorHide{
    from{
        visibility: visible;
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
        -webkit-transform: translate(-50%, -50%) scale(1);
    }

    to{
        visibility: hidden;
        opacity: 0;
        transform: translate(-50%, -50%) scale(0);
        -webkit-transform: translate(-50%, -50%) scale(0);
    }
}

/* locations */

#locations{
    position: relative;
    z-index: 3;
    background: #0c151a;
    border-radius: 2.41vw 2.41vw 0 0;
}

#locations .card_tit{
    position: absolute;
    left: 6.587vw;
    top: 5.988vw;
    padding: 0;
    width: max-content;
    z-index: 2;
}

#locations .card_tit .btn_type1{
    margin-top: 1.807vw;
}

.marquee_txt{
    position: absolute;
    left: 7.53vw;
    top: 0;
    overflow: hidden;
    height: 90%;
    user-select: none;
    transition: all .4s;
}

.mapActive .marquee_txt{
    opacity: 0;
    visibility: hidden;
}

.marquee_box{
    white-space: nowrap;
    animation: marqueeEffect 65s linear infinite;
}

@keyframes marqueeEffect {
    0%{
        transform: translateY(0);
    }

    100%{
        transform: translateY(-50%);
    }
}

.marquee_txt p{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6.024vw;
    white-space: nowrap;
    writing-mode: vertical-rl;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgba(48, 56, 60, 0.5);
    color: transparent;
    font-weight: 300;
    margin: 1.807vw 0;
}

.marquee_txt span{
    display: block;
}

.marquee_deco{
    width: 2.108vw;
    margin: 1.205vw 0;
    opacity: 0.3;
}

.marquee_deco img{
    display: block;
}

.globalMap_box{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.globalMap{
    position: relative;
    width: 72.892vw;
    transition: all .6s ease;
}

.mapActive .globalMap{
    transform: translateX(21vw);
    -webkit-transform: translateX(21vw);
}

.globalMap_img{
    width: 100%;
}

.globalMap_img img{
    display: block;
    width: 100%;
}

.global_location li{
    position: absolute;
    width: 2%;
    height: 3.6%;
}

.global_location_list_inner{
    position: relative;
    width: 100%;
    height: 100%;
}

.global_location li.de{
    left: 9.6%;
    top: 25.49%;
}

.global_location li.kr{
    left: 39.75%;
    top: 33.84%;
}

.global_location li.vn{
    left: 32.77%;
    top: 50.36%;
}

.location_pointer{
    width: 100%;
    height: 100%;
    background: #ccc;
    border-radius: 0.072vw;
    transition: all .4s ease;
}

.global_location li.active .location_pointer,
.global_location li:focus .location_pointer,
.global_location li:hover .location_pointer{
    background: #4bb6e9;
}

.location_desc{
    position: absolute;
    left: calc(100%);
    top: 50%;
    padding-left: 0.723vw;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    font-family: 'Pretendard', sans-serif;
}

.location_desc a{
    display: flex;
    align-items: center;
    padding: 0.422vw 0.602vw;
    border-radius: 999px;
    background: #888;
    transition: background 0.4s ease;
}

.global_location li.active .location_desc a,
.global_location li:focus .location_desc a,
.global_location li:hover .location_desc a{
    background: #4bb6e9;
}

.global_location li.active .location_desc a{
    padding: 0.422vw 0.904vw 0.422vw 0.602vw;
}

.location_name{
    display: block;
    line-height: 1.627vw;
    padding: 0 0.843vw;
    background: #fff;
    color: #000;
    border-radius: 999px;
    font-size: 0.964vw;
    font-weight: 600;
    letter-spacing: -0.02vw;
}

.location_place{
    display: block;
    font-size: 0.964vw;
    line-height: 1.627vw;
    color: #000;
    overflow: hidden;
    max-width: 0;
    white-space: nowrap;
    transition: all .4s ease;
}

.global_location li.active .location_place{
    max-width: 10.241vw;
    margin-left: 0.542vw;
}

.globalLocation_slideBox{
    position: absolute;
    left: 6.587vw;
    bottom: 9.6vw;
    transform: translateX(-3.5vw);
    -webkit-transform: translateX(-3.5vw);
    width: 24.096vw;
    border-radius: 0.602vw;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    transition: all .6s ease;
    padding-right: 3vw;
    box-sizing: content-box;
}

.mapActive .globalLocation_slideBox{
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
    -webkit-transform: translateX(0);
}

.globalLocation_slide{
    position: relative;
    width: 100%;
    height: 100%;
}

.globalLocation_slide .swiper-slide{
    height: auto !important;
    margin-bottom: 1.807vw;
}

.globalLocation_slide .swiper_tit span{
    display: block;
    margin-bottom: 1.084vw;
    font-size: 1.265vw;
    color: #fff;
    font-family: 'Pretendard', sans-serif;
}

.globalLocation_slide .swiper_img{
    border-radius: 0.602vw;
    overflow: hidden;
}

.globalLocation_slide .swiper_img img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.location-pagination{
    position: absolute;
    left: calc(100% + 2vw) !important;
}

.location-pagination .swiper-pagination-bullet-active{
    background: #4bb6e9 !important;
}

.location-pagination .swiper-pagination-bullet{
    background: #fff;
}

/* footer */

#footer{
    width: 100%;
    background: #0c151a url('../img/footer_bg.png') no-repeat;
    background-position: top center;
    background-size: 100%;
    padding: 5.988vw 5.988vw 4.217vw 5.988vw;
    font-family: 'Pretendard', sans-serif;
}

.footer_inner{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer_box.left,
.footer_box.right{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    flex-direction: column;
}

.footer_box.left strong{
    display: inline-block;
    font-size: 1.265vw;
    color: var(--color1-);
    font-weight: 500;
    margin-bottom: 2.41vw;
}

.footer_box.left address{
    font-size: 1.024vw;
    color: #fff;
}

.footer_box.left address p{
    display: block;
    line-height: 1.5;
    margin-bottom: 0.723vw;
}

.footer_box.left address span{
    display: inline-block;
    font-weight: 200;
}

.footer_box.left address span:first-of-type{
    margin-right: 1.205vw;
}

.footer_box.center{
    position: absolute;
    left: 50%;
    bottom: 0;
    width: max-content;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.footer_box.center .footer_logo{
    width: 20.783vw;
    margin-bottom: 1.205vw;
}

.go_top button{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.723vw 0;
    background: #fff;
    padding: 1.024vw 0.723vw;
    border-radius: 999px;
}

.go_top button img{
    height: 1.084vw;
}

.go_top button span{
    font-size: 1.024vw;
    color: #4bb6e9;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
}

.footer_link{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 0.964vw;
}

.footer_link li:first-child{
    position: relative;
    margin-right: 0.753vw;
    padding-right: 0.754vw;
}

.footer_link li:first-child::after{
    display: block;
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    width: 1px;
    height: 70%;
    background: #aaa;
    opacity: 0.5;
}

.footer_link li a{
    font-size: 0.964vw;
    color: #fff;
}

.footer_box.right p{
    font-size: 0.843vw;
    color: #aaa;
    line-height: 1.3;
}

.modal_background.active{
    visibility: visible;
    opacity: 1;
}

.modal_background{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    visibility: hidden;
    opacity: 0;
    transition: all .4s ease;
    z-index: 10;
}
